language: python

python:
  - "3.6"
  - "2.7"
  - "pypy"
  - "pypy3"

sudo: false

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install tox-travis
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script: tox

after_success: coveralls
