-r requirements-release.txt
-e .
black; platform_python_implementation == "CPython"
cached-property
docutils
flake8
flake8-bugbear
flake8-comprehensions
flake8-typing-imports
mypy; platform_python_implementation == "CPython"
pdbpp
pre-commit
pre-commit-hooks
ptpython
pytest
pytest-cov
tox
tox-pyenv
twine
